@use 'variables' as *;
@use 'reset';
@use 'typography';

// Components
@use 'components/button';
@use 'components/link';
@use 'components/card';
@use 'components/releaseDate';
@use 'components/playWidget';
@use 'components/category';
@use 'components/header';
@use 'components/footer';

body {
  background-color: #F8F8F8;
}

// Utility classes
.container {
  max-width: 1500px;
  padding-inline: $size-600;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding-inline: $size-250;
  }
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.text-center {
  text-align: center;
}

.sub-headline {
  color: #1F1F1F;
  font-size: 16px;
  line-height: 21px;
}

.section-highlight {
  padding: 2px 22px 3px 7px;
  border-radius: 3px;
  width: fit-content;
  background: linear-gradient(90deg, #FFF5CB 0%, #F8F8F8 119.5%);
}

// Custom scrollbar styles
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff6b6b, #f06595);
  /* Gradient background for the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1;
  /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #ff4757, #e056fd);
  /* Darker gradient on hover */
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $clr-primary-500 #f1f1f1;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


// set the color of text selection
::selection {
  background-color: $clr-primary-500;
  color: $clr-neutral-900;
}